* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 52%;
}

.banner_swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner_swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner_swiper .swiper-button-next, .banner_swiper .swiper-button-prev {
  width: 50%;
  height: 100%;
  top: 0;
  margin: 0;
  z-index: 1;
}

.banner_swiper .swiper-button-next::after, .banner_swiper .swiper-button-prev::after {
  display: none;
}

.banner_swiper .swiper-button-next {
  right: 0;
  cursor: url(../img/right.ico), auto;
}

.banner_swiper .swiper-button-prev {
  left: 0;
  cursor: url(../img/left.ico), auto;
}

.banner_swiper_item {
  position: relative;
  height: 100%;
}

.banner_swiper_item.item-40 {
  width: 40%;
}

.banner_swiper_item.item-50 {
  width: 50%;
}

.banner_swiper_item.item-60 {
  width: 60%;
}

.banner_swiper_item > img, .banner_swiper_item > video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.banner_swiper_item .enrose {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner_swiper_item .enrose img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner_swiper_item .enrose img.e {
  width: 5.38%;
  left: 31.23%;
}

.banner_swiper_item .enrose img.n {
  width: 4.7%;
  left: 37.88%;
}

.banner_swiper_item .enrose img.r {
  width: 3.56%;
  left: 44.12%;
}

.banner_swiper_item .enrose img.o {
  width: 5.59%;
  left: 47.68%;
}

.banner_swiper_item .enrose img.s {
  width: 4.02%;
  left: 54.43%;
}

.banner_swiper_item .enrose img.e2 {
  width: 5.38%;
  left: 59.55%;
  -webkit-transform: translateY(-61%);
          transform: translateY(-61%);
}

.banner_swiper_item .enrose.animate {
  -webkit-animation: enrose-move 5s ease-in-out infinite;
          animation: enrose-move 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.e {
  -webkit-animation: enrose-1 5s ease-in-out infinite;
          animation: enrose-1 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.n {
  -webkit-animation: enrose-2 5s ease-in-out infinite;
          animation: enrose-2 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.r {
  -webkit-animation: enrose-3 5s ease-in-out infinite;
          animation: enrose-3 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.o {
  -webkit-animation: enrose-4 5s ease-in-out infinite;
          animation: enrose-4 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.s {
  -webkit-animation: enrose-5 5s ease-in-out infinite;
          animation: enrose-5 5s ease-in-out infinite;
}

.banner_swiper_item .enrose.animate img.e2 {
  -webkit-animation: enrose-6 5s ease-in-out infinite;
          animation: enrose-6 5s ease-in-out infinite;
}

.banner_swiper_item .fashion > img {
  position: absolute;
}

.banner_swiper_item .fashion > img.f {
  width: 3.38%;
  top: 17.25%;
  left: 13.31%;
  -webkit-animation: fashion-1 1.5s step-start infinite alternate;
          animation: fashion-1 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.a {
  width: 4.27%;
  top: 40.51%;
  left: 23.18%;
  -webkit-animation: fashion-2 1.5s step-start infinite alternate;
          animation: fashion-2 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.s {
  width: 3.43%;
  top: 45.74%;
  left: 40.14%;
  -webkit-animation: fashion-3 1.5s step-start infinite alternate;
          animation: fashion-3 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.h {
  width: 4.35%;
  top: 68.12%;
  left: 33.47%;
  -webkit-animation: fashion-4 1.5s step-start infinite alternate;
          animation: fashion-4 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.i {
  width: 1.23%;
  top: 57.61%;
  left: 56.27%;
  -webkit-animation: fashion-5 1.5s step-start infinite alternate;
          animation: fashion-5 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.o {
  width: 4.95%;
  top: 74.92%;
  left: 64.91%;
  -webkit-animation: fashion-6 1.5s step-start infinite alternate;
          animation: fashion-6 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.n {
  width: 4.35%;
  top: 78.02%;
  left: 89.16%;
  -webkit-animation: fashion-1 1.5s step-start infinite alternate;
          animation: fashion-1 1.5s step-start infinite alternate;
}

.banner_swiper_item .fashion > img.t {
  width: 3.32%;
  top: 26.12%;
  left: 72.59%;
  -webkit-animation: fashion-2 1.5s step-start infinite alternate;
          animation: fashion-2 1.5s step-start infinite alternate;
}

.banner-pagination {
  margin-left: 4.2%;
  margin-top: 10px;
}

.banner-pagination .swiper-pagination-bullet {
  border-radius: 0;
  opacity: 1;
  width: 80px;
  height: 2px;
  background-color: #ddd;
  position: relative;
}

.banner-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 0;
  background-color: #000;
}

.banner-pagination .swiper-pagination-bullet-active::before {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .banner_swiper_item {
    width: 50% !important;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    padding-bottom: 104%;
  }
  .banner-pagination .swiper-pagination-bullet {
    width: 50px;
  }
  .banner_swiper_item {
    width: 100% !important;
  }
}

@-webkit-keyframes enrose-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  15% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  45% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes enrose-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  15% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  45% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@-webkit-keyframes enrose-1 {
  0% {
    left: 31.23%;
    opacity: 1;
  }
  10% {
    left: 31.23%;
    opacity: 1;
  }
  20% {
    left: 31.23%;
    opacity: 1;
  }
  30% {
    left: 31.23%;
    opacity: 1;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@keyframes enrose-1 {
  0% {
    left: 31.23%;
    opacity: 1;
  }
  10% {
    left: 31.23%;
    opacity: 1;
  }
  20% {
    left: 31.23%;
    opacity: 1;
  }
  30% {
    left: 31.23%;
    opacity: 1;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@-webkit-keyframes enrose-2 {
  0% {
    left: 37.88%;
    opacity: 1;
  }
  10% {
    left: 37.88%;
    opacity: 1;
  }
  20% {
    left: 37.88%;
    opacity: 1;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@keyframes enrose-2 {
  0% {
    left: 37.88%;
    opacity: 1;
  }
  10% {
    left: 37.88%;
    opacity: 1;
  }
  20% {
    left: 37.88%;
    opacity: 1;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@-webkit-keyframes enrose-3 {
  0% {
    left: 44.12%;
    opacity: 1;
  }
  10% {
    left: 44.12%;
    opacity: 1;
  }
  20% {
    left: 47.21%;
    opacity: 0;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@keyframes enrose-3 {
  0% {
    left: 44.12%;
    opacity: 1;
  }
  10% {
    left: 44.12%;
    opacity: 1;
  }
  20% {
    left: 47.21%;
    opacity: 0;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@-webkit-keyframes enrose-4 {
  0% {
    left: 47.68%;
  }
  10% {
    left: 47.68%;
  }
  20% {
    left: 47.21%;
  }
  30% {
    left: 47.21%;
  }
  40% {
    left: 47.21%;
  }
  50% {
    left: 47.21%;
  }
  60% {
    left: 47.21%;
  }
  70% {
    left: 47.21%;
  }
  80% {
    left: 47.21%;
  }
  90% {
    left: 47.21%;
  }
  100% {
    left: 47.21%;
  }
}

@keyframes enrose-4 {
  0% {
    left: 47.68%;
  }
  10% {
    left: 47.68%;
  }
  20% {
    left: 47.21%;
  }
  30% {
    left: 47.21%;
  }
  40% {
    left: 47.21%;
  }
  50% {
    left: 47.21%;
  }
  60% {
    left: 47.21%;
  }
  70% {
    left: 47.21%;
  }
  80% {
    left: 47.21%;
  }
  90% {
    left: 47.21%;
  }
  100% {
    left: 47.21%;
  }
}

@-webkit-keyframes enrose-5 {
  0% {
    left: 54.43%;
    opacity: 1;
  }
  10% {
    left: 54.43%;
    opacity: 1;
  }
  20% {
    left: 54.43%;
    opacity: 1;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@keyframes enrose-5 {
  0% {
    left: 54.43%;
    opacity: 1;
  }
  10% {
    left: 54.43%;
    opacity: 1;
  }
  20% {
    left: 54.43%;
    opacity: 1;
  }
  30% {
    left: 47.21%;
    opacity: 0;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@-webkit-keyframes enrose-6 {
  0% {
    left: 59.55%;
    opacity: 1;
  }
  10% {
    left: 59.55%;
    opacity: 1;
  }
  20% {
    left: 59.55%;
    opacity: 1;
  }
  30% {
    left: 59.55%;
    opacity: 1;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@keyframes enrose-6 {
  0% {
    left: 59.55%;
    opacity: 1;
  }
  10% {
    left: 59.55%;
    opacity: 1;
  }
  20% {
    left: 59.55%;
    opacity: 1;
  }
  30% {
    left: 59.55%;
    opacity: 1;
  }
  40% {
    left: 47.21%;
    opacity: 0;
  }
  50% {
    left: 47.21%;
    opacity: 0;
  }
  60% {
    left: 47.21%;
    opacity: 0;
  }
  70% {
    left: 47.21%;
    opacity: 0;
  }
  80% {
    left: 47.21%;
    opacity: 0;
  }
  90% {
    left: 47.21%;
    opacity: 0;
  }
  100% {
    left: 47.21%;
    opacity: 0;
  }
}

@-webkit-keyframes fashion-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fashion-2 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-2 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fashion-3 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-3 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 1;
  }
  66.6666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fashion-4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fashion-5 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-5 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fashion-6 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fashion-6 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=banner.css.map */